nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo-name {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo-nav {
    width: 130px;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    margin-right: 5%;
  }
  
  li {
    margin-left: 40px; 
    cursor: pointer;
  }

  li:hover{
    color: #5286EE;
    font-weight: bold;
  }