.footer {
    display: flex;
    justify-content: space-between;
    
    flex-direction: row;
    width: auto;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    

}

.rrss-logos img {
    align-items: center;
    margin:2em;
    justify-content: space-evenly;
    height: 4em;
    width: 4em;
}

.rrss-logos img:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
    cursor: pointer;

}

.copyright {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.8em;
    margin-left: 40em;
}

